{% extends 'home.html' %}

    {% block content %}
    
    <div class="col-md-6 offset-md-3">   
        <form class="form-floating" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-floating mb-3">
            
              <input required type="text" class="form-control" id="floatingInputValue4" placeholder="Parent" name="parent">
              <label for="floatingInputValue4">Parent:</label>
              </div>
              <br>
            <div class="form-floating mb-3">
            
            <input required type="text" class="form-control" id="floatingInputValue1" placeholder="Code" name="code">
            <label for="floatingInputValue1">Code:</label>
            </div>
            <br>
            <div class="form-floating mb-3">
            
              <input required type="text" class="form-control" id="floatingInputValue2" placeholder="Number" name="number">
              <label for="floatingInputValue2">Number:</label>
              </div>
              <br>
            <div class="form-floating mb-3"> 

            <input required type="date" class="form-control" id="floatingInputValue3" placeholder="Date" name="date">
            <label for="floatingInputValue3">Date:</label>
            </div>

            <br>

            <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="gender">
                <option selected>Female</option>
                <option >Male</option>
               
              </select>
              <br>
              <div class="form-floating mb-3">
        
                <input  type="file" class="form-control" id="floatingInputValue0" placeholder="Insert image.." name="image"  />
                
              </div>
              
              <button type="Submit" class="btn btn-outline-primary" href="{% url 'add' %}">Add record</button>

            


            
          </form>
    </div>
    {% endblock %}
    
