{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3">
<h1>Welcome {{user.username|capfirst}},</h1>
<h3>Here you can view or add,modify and delete records</h3>
</div>
{% else %}
<!-- <div class="col-md-6 offset-md-3">
    <h1>Log In</h1>
    <br/>
    
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
    
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
    </form>
     -->
    
     <div class="col-md-6 offset-md-3">
      <h1>Welcome</h1>
    
      </div>
  {% endif %}

{% endblock %}